<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="accessId" value="AKIAQGKLS7M36O4Z2GXL"/>
		<add key="secretKey" value="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"/>

		<add key="accessId1" value="AKIAQGKLS7M35V4GKHMN"/>
		<add key="secretKey1" value="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"/>
	</appSettings>
</configuration>